    /* CSS styles here */
    .like-comment {
        display: flex;
        align-items: center; /* Căn các phần tử theo chiều dọc */
    }

    .like-comment .write-post-btn-container {
        display: flex;
        align-items: center; /* Căn các phần tử theo chiều dọc */
    }

    .like-comment .write-post-btn {
        background-color: transparent;
        color: #3498db;
        border: none;
        padding: 7px 10px;
        border-radius: 3px;
        cursor: pointer;
        margin-right: 1px;
        transition: background-color 0.3s, color 0.3s;
    }

    .like-comment .write-post-btn:hover {
        background-color: #4550a0;
        color: white;
    }

    .like-comment .write-post-btn i {
        margin-right: 5px; /* Space between icon and text */
    }

    .like-comment .write-post-btn-container {
        margin-left: 10px; /* Khoảng cách giữa nút và tiêu đề */
        display: flex;
        justify-content: space-between; /* Căn hai phần tử con một cách đều nhau */
        align-items: center; /* Căn theo chiều dọc */
    }

    .like-comment .write-post-btn-container .write-post-btn {
        margin-right: 10px; /* Space between buttons */
    }

    .like-comment .write-post-btn-container .write-post-btn:last-child {
        margin-right: 0; /* Remove margin from last button */
    }

    /*nut tlbl*/
    .reply {
        display: flex;
        align-items: center; /* Căn các phần tử theo chiều dọc */
    }

    .reply .write-post-btn-container {
        display: flex;
        align-items: center; /* Căn các phần tử theo chiều dọc */
    }

    .reply .write-post-btn {
        background-color: transparent;
        color: #3498db;
        border: none;
        padding: 8px 15px;
        border-radius: 3px;
        cursor: pointer;
        margin-right: 10px;
        transition: background-color 0.3s, color 0.3s;
    }

    .reply .write-post-btn:hover {
        background-color: #4550a0;
        color: white;
    }

    .reply .write-post-btn i {
        margin-right: 5px; /* Space between icon and text */
    }

    .reply .write-post-btn-container {
        margin-left: 10px; /* Khoảng cách giữa nút và tiêu đề */
        display: flex;
        justify-content: space-between; /* Căn hai phần tử con một cách đều nhau */
        align-items: center; /* Căn theo chiều dọc */
    }

    .reply .write-post-btn-container .write-post-btn {
        margin-right: 10px; /* Space between buttons */
    }

    .reply .write-post-btn-container .write-post-btn:last-child {
        margin-right: 0; /* Remove margin from last button */
    }
    .rep_comment {
        margin-left: 50px;
    }


    /* CSS cho phần header */
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #f8f9fa;
}

.nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.nav li {
    margin-right: 15px;
}

.nav a {
    text-decoration: none;
    color: #007bff;
}

.nav a:hover {
    text-decoration: underline;
}

/* CSS cho ô tìm kiếm */
.search-container form {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    
}

.search-container input[type="text"] {
    padding: 10px 30px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-right: 5px;
}

.search-container button {
    padding: 8px 10px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

.search-container button:hover {
    background-color: #0056b3;
}

